USE [db_IMI]
GO
/****** Object:  Table [dbo].[tb_SubCategory]    Script Date: 10/01/2016 16:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_SubCategory](
	[sub_cat_id] [int] IDENTITY(1,1) NOT NULL,
	[pdt_cat_id] [nvarchar](max) NULL,
	[sub_cat_name] [nvarchar](max) NULL,
 CONSTRAINT [PK_tb_SubCategory] PRIMARY KEY CLUSTERED 
(
	[sub_cat_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_SubCategory] ON
INSERT [dbo].[tb_SubCategory] ([sub_cat_id], [pdt_cat_id], [sub_cat_name]) VALUES (1, N'6', N'mix')
INSERT [dbo].[tb_SubCategory] ([sub_cat_id], [pdt_cat_id], [sub_cat_name]) VALUES (7, N'2', N'Thermit mini')
INSERT [dbo].[tb_SubCategory] ([sub_cat_id], [pdt_cat_id], [sub_cat_name]) VALUES (11, N'6', N'Mixit')
SET IDENTITY_INSERT [dbo].[tb_SubCategory] OFF
/****** Object:  Table [dbo].[tb_RawPurchaseHeader]    Script Date: 10/01/2016 16:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_RawPurchaseHeader](
	[RPH_id] [int] IDENTITY(1,1) NOT NULL,
	[Raw_id] [int] NULL,
	[Date] [date] NULL,
	[Grand_total] [float] NULL,
	[Invoice_no] [int] NULL,
 CONSTRAINT [PK_tb_RawPurchaseHeader] PRIMARY KEY CLUSTERED 
(
	[RPH_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_RawMaterialDetails]    Script Date: 10/01/2016 16:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_RawMaterialDetails](
	[Rmd_id] [int] IDENTITY(1,1) NOT NULL,
	[Raw_id] [int] NULL,
	[Date] [date] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_tb_RawMaterialDetails] PRIMARY KEY CLUSTERED 
(
	[Rmd_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_RawMaterialDetails] ON
INSERT [dbo].[tb_RawMaterialDetails] ([Rmd_id], [Raw_id], [Date], [Quantity]) VALUES (35, 2, CAST(0xAB3B0B00 AS Date), 100)
INSERT [dbo].[tb_RawMaterialDetails] ([Rmd_id], [Raw_id], [Date], [Quantity]) VALUES (37, 1, CAST(0xAB3B0B00 AS Date), 10)
INSERT [dbo].[tb_RawMaterialDetails] ([Rmd_id], [Raw_id], [Date], [Quantity]) VALUES (38, 1, CAST(0xAB3B0B00 AS Date), 11)
SET IDENTITY_INSERT [dbo].[tb_RawMaterialDetails] OFF
/****** Object:  Table [dbo].[tb_RawMaterial]    Script Date: 10/01/2016 16:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_RawMaterial](
	[Raw_id] [int] IDENTITY(1,1) NOT NULL,
	[Raw_Name] [nvarchar](max) NULL,
	[Raw_Stock] [int] NULL,
	[Raw_Price] [float] NULL,
	[eff_Rate] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_RawMaterial] PRIMARY KEY CLUSTERED 
(
	[Raw_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_RawMaterial] ON
INSERT [dbo].[tb_RawMaterial] ([Raw_id], [Raw_Name], [Raw_Stock], [Raw_Price], [eff_Rate]) VALUES (1, N'Aluminium Bar', 187, 42, N'3')
INSERT [dbo].[tb_RawMaterial] ([Raw_id], [Raw_Name], [Raw_Stock], [Raw_Price], [eff_Rate]) VALUES (2, N'Bearing 6mm', 295, 12, N'2')
INSERT [dbo].[tb_RawMaterial] ([Raw_id], [Raw_Name], [Raw_Stock], [Raw_Price], [eff_Rate]) VALUES (6, N'Bridge Rectifier', 507, 64, N'3')
SET IDENTITY_INSERT [dbo].[tb_RawMaterial] OFF
/****** Object:  Table [dbo].[tb_PurchaseDetailsHeader]    Script Date: 10/01/2016 16:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_PurchaseDetailsHeader](
	[RPD_id] [int] IDENTITY(1,1) NOT NULL,
	[RPH_id] [int] NULL,
	[Raw_id] [int] NULL,
	[Raw_quantity] [int] NULL,
	[Raw_Price] [float] NULL,
	[Total_Amount] [float] NULL,
 CONSTRAINT [PK_tb_PurchaseDetailsHeader] PRIMARY KEY CLUSTERED 
(
	[RPD_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductService]    Script Date: 10/01/2016 16:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductService](
	[ProductService_id] [int] IDENTITY(1,1) NOT NULL,
	[Product_Serial_No] [nvarchar](50) NULL,
	[Service_Date] [date] NULL,
	[Problem_Description] [nvarchar](max) NULL,
	[Action_Summary] [nvarchar](max) NULL,
	[spare_Description] [nvarchar](max) NULL,
	[warranty_Status] [nvarchar](max) NULL,
	[Service_cost] [numeric](18, 2) NULL,
 CONSTRAINT [PK_tb_ProductService] PRIMARY KEY CLUSTERED 
(
	[ProductService_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_ProductService] ON
INSERT [dbo].[tb_ProductService] ([ProductService_id], [Product_Serial_No], [Service_Date], [Problem_Description], [Action_Summary], [spare_Description], [warranty_Status], [Service_cost]) VALUES (2, NULL, CAST(0xCE3B0B00 AS Date), N'not working properly', N'change parts', N'aluminium bar', N'On Warranty...!!!', NULL)
INSERT [dbo].[tb_ProductService] ([ProductService_id], [Product_Serial_No], [Service_Date], [Problem_Description], [Action_Summary], [spare_Description], [warranty_Status], [Service_cost]) VALUES (3, NULL, CAST(0xCE3B0B00 AS Date), N'not working properly', N'change parts', N'aluminium bar', N'On Warranty...!!!', NULL)
INSERT [dbo].[tb_ProductService] ([ProductService_id], [Product_Serial_No], [Service_Date], [Problem_Description], [Action_Summary], [spare_Description], [warranty_Status], [Service_cost]) VALUES (4, NULL, CAST(0xCE3B0B00 AS Date), N'not working properly', N'change parts', N'aluminiunm bar', N'On Warranty...!!!', NULL)
SET IDENTITY_INSERT [dbo].[tb_ProductService] OFF
/****** Object:  Table [dbo].[tb_Productions]    Script Date: 10/01/2016 16:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Productions](
	[production_id] [int] IDENTITY(1,1) NOT NULL,
	[sub_cat_id] [nvarchar](50) NULL,
	[Product_Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Tax] [int] NULL,
	[product_code] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_Productions] PRIMARY KEY CLUSTERED 
(
	[production_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Productions] ON
INSERT [dbo].[tb_Productions] ([production_id], [sub_cat_id], [Product_Name], [Description], [Tax], [product_code]) VALUES (51, N'7', N'8 sq + 8 rd', NULL, 0, N'05')
INSERT [dbo].[tb_Productions] ([production_id], [sub_cat_id], [Product_Name], [Description], [Tax], [product_code]) VALUES (52, N'37', N'16 round', NULL, 0, NULL)
INSERT [dbo].[tb_Productions] ([production_id], [sub_cat_id], [Product_Name], [Description], [Tax], [product_code]) VALUES (53, N'11', N'Mixit', NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[tb_Productions] OFF
/****** Object:  Table [dbo].[tb_ProductionRawMaterial]    Script Date: 10/01/2016 16:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductionRawMaterial](
	[Production_RawMaterial_id] [int] IDENTITY(1,1) NOT NULL,
	[Production_id] [nvarchar](max) NULL,
	[Raw_id] [nvarchar](max) NULL,
	[Raw_quantity] [int] NULL,
 CONSTRAINT [PK_tb_ProductionRawMaterial] PRIMARY KEY CLUSTERED 
(
	[Production_RawMaterial_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_ProductionRawMaterial] ON
INSERT [dbo].[tb_ProductionRawMaterial] ([Production_RawMaterial_id], [Production_id], [Raw_id], [Raw_quantity]) VALUES (66, N'48', N'1', 1)
INSERT [dbo].[tb_ProductionRawMaterial] ([Production_RawMaterial_id], [Production_id], [Raw_id], [Raw_quantity]) VALUES (67, N'48', N'2', 2)
INSERT [dbo].[tb_ProductionRawMaterial] ([Production_RawMaterial_id], [Production_id], [Raw_id], [Raw_quantity]) VALUES (68, N'48', N'6', 3)
SET IDENTITY_INSERT [dbo].[tb_ProductionRawMaterial] OFF
/****** Object:  Table [dbo].[tb_ProductionCategory]    Script Date: 10/01/2016 16:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductionCategory](
	[pdt_cat_id] [int] IDENTITY(1,1) NOT NULL,
	[pdt_cat_name] [nvarchar](max) NULL,
 CONSTRAINT [PK_tb_ProductionCategory] PRIMARY KEY CLUSTERED 
(
	[pdt_cat_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_ProductionCategory] ON
INSERT [dbo].[tb_ProductionCategory] ([pdt_cat_id], [pdt_cat_name]) VALUES (2, N'Dry Block Incubator')
INSERT [dbo].[tb_ProductionCategory] ([pdt_cat_id], [pdt_cat_name]) VALUES (6, N'Hematology Mixer')
INSERT [dbo].[tb_ProductionCategory] ([pdt_cat_id], [pdt_cat_name]) VALUES (7, N'Syringe Distroyer with Needle Burner')
SET IDENTITY_INSERT [dbo].[tb_ProductionCategory] OFF
/****** Object:  Table [dbo].[tb_ProductBookingDetail]    Script Date: 10/01/2016 16:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductBookingDetail](
	[PBD_id] [int] IDENTITY(1,1) NOT NULL,
	[Product_Booking_id] [int] NULL,
	[Production_id] [nvarchar](50) NULL,
	[Quantity] [nvarchar](50) NULL,
	[Unit_price] [nvarchar](max) NULL,
	[total] [nvarchar](max) NULL,
	[status] [int] NULL,
	[genarate_status] [int] NULL,
 CONSTRAINT [PK_tb_ProductBookingDetail] PRIMARY KEY CLUSTERED 
(
	[PBD_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_ProductBookingDetail] ON
INSERT [dbo].[tb_ProductBookingDetail] ([PBD_id], [Product_Booking_id], [Production_id], [Quantity], [Unit_price], [total], [status], [genarate_status]) VALUES (26, 9, N'55', N'34', N'1800', N'61200', 1, 0)
INSERT [dbo].[tb_ProductBookingDetail] ([PBD_id], [Product_Booking_id], [Production_id], [Quantity], [Unit_price], [total], [status], [genarate_status]) VALUES (27, 9, N'56', N'56', N'11900', N'666400', 0, 0)
INSERT [dbo].[tb_ProductBookingDetail] ([PBD_id], [Product_Booking_id], [Production_id], [Quantity], [Unit_price], [total], [status], [genarate_status]) VALUES (28, 9, N'53', N'30', N'4390', N'131700', 1, 0)
SET IDENTITY_INSERT [dbo].[tb_ProductBookingDetail] OFF
/****** Object:  Table [dbo].[tb_ProductBooking]    Script Date: 10/01/2016 16:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductBooking](
	[ProductBooking_id] [int] IDENTITY(1,1) NOT NULL,
	[buyer_type] [nvarchar](max) NULL,
	[buyer_name] [nvarchar](max) NULL,
	[Booking_Date] [nvarchar](max) NULL,
	[Grand_total] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Invoice_no] [nvarchar](50) NULL,
	[Devry_date] [date] NULL,
 CONSTRAINT [PK_tb_ProductBooking] PRIMARY KEY CLUSTERED 
(
	[ProductBooking_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_ProductBooking] ON
INSERT [dbo].[tb_ProductBooking] ([ProductBooking_id], [buyer_type], [buyer_name], [Booking_Date], [Grand_total], [Status], [Invoice_no], [Devry_date]) VALUES (9, N'Distributor', N'Rony Electronics', N'8/31/2016', N'960940', N'0', N'M-4488', NULL)
INSERT [dbo].[tb_ProductBooking] ([ProductBooking_id], [buyer_type], [buyer_name], [Booking_Date], [Grand_total], [Status], [Invoice_no], [Devry_date]) VALUES (12, N'Distributor', N'Mirach Electronic and products', N'8/31/2016', N'89320', N'0', N'M-7385', NULL)
INSERT [dbo].[tb_ProductBooking] ([ProductBooking_id], [buyer_type], [buyer_name], [Booking_Date], [Grand_total], [Status], [Invoice_no], [Devry_date]) VALUES (13, N'Distributor', N'Mirach Electronic and products', N'8/31/2016', N'62296', N'0', N'M-6870', NULL)
SET IDENTITY_INSERT [dbo].[tb_ProductBooking] OFF
/****** Object:  Table [dbo].[tb_Product]    Script Date: 10/01/2016 16:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Product](
	[Product_id] [int] IDENTITY(1,1) NOT NULL,
	[production_id] [int] NULL,
	[Product_SerialNumber] [nvarchar](max) NULL,
	[Product_Booking_id] [int] NULL,
	[Manufacturing_Date] [date] NULL,
	[Count_per_year] [int] NULL,
 CONSTRAINT [PK_tb_Product] PRIMARY KEY CLUSTERED 
(
	[Product_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Product] ON
INSERT [dbo].[tb_Product] ([Product_id], [production_id], [Product_SerialNumber], [Product_Booking_id], [Manufacturing_Date], [Count_per_year]) VALUES (88, 51, N'00001 0001 51  ', 9, CAST(0xCE3B0B00 AS Date), 1)
INSERT [dbo].[tb_Product] ([Product_id], [production_id], [Product_SerialNumber], [Product_Booking_id], [Manufacturing_Date], [Count_per_year]) VALUES (89, 51, N'00089 0002 51 26 2016', 9, CAST(0xCE3B0B00 AS Date), 2)
INSERT [dbo].[tb_Product] ([Product_id], [production_id], [Product_SerialNumber], [Product_Booking_id], [Manufacturing_Date], [Count_per_year]) VALUES (90, 51, N'00090 0003 51 26 2016', 9, CAST(0xCE3B0B00 AS Date), 3)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[tb_Product] OFF
/****** Object:  Table [dbo].[tb_prdt_price]    Script Date: 10/01/2016 16:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_prdt_price](
	[pdt_price_id] [int] IDENTITY(1,1) NOT NULL,
	[production_id] [int] NULL,
	[pdt_range_from] [nvarchar](max) NULL,
	[pdt_range_to] [nvarchar](max) NULL,
	[pdt_price] [int] NULL,
 CONSTRAINT [PK_tb_prdt_price] PRIMARY KEY CLUSTERED 
(
	[pdt_price_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_prdt_price] ON
INSERT [dbo].[tb_prdt_price] ([pdt_price_id], [production_id], [pdt_range_from], [pdt_range_to], [pdt_price]) VALUES (20, 71, N'1', N'4', 6570)
INSERT [dbo].[tb_prdt_price] ([pdt_price_id], [production_id], [pdt_range_from], [pdt_range_to], [pdt_price]) VALUES (21, 71, N'10', N'19', 5256)
INSERT [dbo].[tb_prdt_price] ([pdt_price_id], [production_id], [pdt_range_from], [pdt_range_to], [pdt_price]) VALUES (22, 71, N'20', N'49', 4965)
SET IDENTITY_INSERT [dbo].[tb_prdt_price] OFF
/****** Object:  Table [dbo].[tb_login]    Script Date: 10/01/2016 16:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_login](
	[login_id] [int] IDENTITY(5000,1) NOT NULL,
	[login_name] [nvarchar](max) NULL,
	[login_Password] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
 CONSTRAINT [PK_tb_Admin] PRIMARY KEY CLUSTERED 
(
	[login_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_login] ON
INSERT [dbo].[tb_login] ([login_id], [login_name], [login_Password], [email]) VALUES (5000, N'imi_issac', N'issac', N'sherinsararejeive@gmail.com')
INSERT [dbo].[tb_login] ([login_id], [login_name], [login_Password], [email]) VALUES (5001, N'imi_serish', N'serish', N'serish@gmail.com')
INSERT [dbo].[tb_login] ([login_id], [login_name], [login_Password], [email]) VALUES (5002, N'roche', N'roche', N'roche@gmail.com')
SET IDENTITY_INSERT [dbo].[tb_login] OFF
/****** Object:  Table [dbo].[tb_imi_service]    Script Date: 10/01/2016 16:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_imi_service](
	[imi_service_id] [int] IDENTITY(1,1) NOT NULL,
	[serial_no] [int] NULL,
	[problem_descrptn] [nvarchar](max) NULL,
	[Action_summary] [nvarchar](max) NULL,
	[service_bk_date] [date] NULL,
	[Spare_descrptn] [nvarchar](max) NULL,
	[warranty_status] [nvarchar](max) NULL,
 CONSTRAINT [PK_tb_imi_service] PRIMARY KEY CLUSTERED 
(
	[imi_service_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
